<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.jjjzzzqqq.asynexecmq.mapper.CourseMapper">

    <update id="updateMqState">
        update course set mq_state = #{mqState} where course_id = #{courseId}
    </update>

    <select id="getCourseIdListByMqFail" resultType="long">
        select course_id from course
        where course_id > #{beginId}
        AND state = 3
        AND mq_state in(0,2)
        limit #{size}

    </select>

    <select id="getMaxId" resultType="long">
        select course_id from course
        order by course_id desc
        limit 1
    </select>
</mapper>